<h5>Template driven forms</h5>
<div *ngIf="selectedHero">
  <label>
    Name:
    <input type="text" [(ngModel)]="selectedHero.name" />
  </label>

  <label *ngIf="selectedHero.alterego">
    Alterego:
    <input type="text" [(ngModel)]="selectedHero.alterego" />
  </label>
</div>

<!-- <h5>Reactive forms</h5>
<form [formGroup]="formHeroe" (ngSubmit)="onSubmit()">
  <label> Name:
    <input type="text" formControlName="name"/>
  </label>

  <label *ngIf="heroe.alterego"> Alterego:
    <input type="text" formControlName="alterego"/>
  </label>

  <button type="submit">Mostrar</button>
</form> -->
