<h2>HEROE</h2>
<h4>ID: {{heroe.id}}</h4>
<h4>NAME: {{heroe.name}}</h4>
<h4 *ngIf="heroe.alterego">ALTEREGO: {{heroe.alterego}}</h4>

<h5>Template driven forms</h5>

<div>
<label> Name:
  <input type="text" [(ngModel)]="heroe.name"/>
</label>

<label *ngIf="heroe.alterego"> Alterego:
  <input type="text" [(ngModel)]="heroe.alterego"/>
</label>
</div>

<section class="heroes">
  <div class="hero-information" *ngFor="let hero of heroes" (click)="onSelected(hero)">
    <p class="hero-name">{{hero.name}} <span class="hero-alterego" *ngIf="hero.alterego">({{hero.alterego}})</span></p>
  </div>
</section>


<!-- <h5>Reactive forms</h5>
<form [formGroup]="formHeroe" (ngSubmit)="onSubmit()">
  <label> Name:
    <input type="text" formControlName="name"/>
  </label>

  <label *ngIf="heroe.alterego"> Alterego:
    <input type="text" formControlName="alterego"/>
  </label>

  <button type="submit">Mostrar</button>
</form> -->
